/* Estilos generales */
body {
  background-color: #000000; /* Cambiar el color de fondo */
  font-family: Arial, sans-serif; /* Utilizar una fuente de texto adecuada */
  color: #ffffff; /* Cambiar el color del texto */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Centrar el texto dentro del contenedor */
}

/* Estilos para los contenedores de productos */
/* Estilos para los contenedores de productos */
.product-container {
  background-color: #000000; /* Cambiar el color de fondo */
  color: #ffffff; /* Cambiar el color del texto */
  border: 1px solid #000000; /* Agregar un borde gris */
  border-radius: 5px; /* Agregar bordes redondeados */
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar una sombra suave */
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

.product-container h2 {
  margin-top: 0;
}

.product-container p {
  margin-bottom: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Mostrar 3 tarjetas por fila */
  gap: 20px; /* Espacio entre las tarjetas */
}

.product-card {
  width: 100%; /* Ajusta el ancho de la tarjeta al 100% */
  max-width: 300px; /* Define un ancho máximo para la tarjeta */
  margin: 0 auto; /* Centra la tarjeta horizontalmente */
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: center; /* Centra el contenido verticalmente */
  border: 1px solid #ccc; /* Agrega un borde de color gris */
  border-radius: 5px; /* Agrega bordes redondeados */
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-details {
  width: 100%; /* Ajusta el ancho del contenedor de detalles al 100% */
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
    text-align: center; /* Centra el texto horizontalmente */
  }
